.content {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: linear-gradient(to top, rgba(#074682, 0.89) 0%, rgba(#1985e0, 0.89) 100%);
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.85);
}

.example-spacer {
  flex: 1 1 auto;
}