<mat-toolbar color="primary">

  <mat-toolbar-row>
    <a [routerLink]=" '/' " class="logo">Insta App</a>

    <span class="example-spacer"></span>

    <a 
      mat-raised-button
      *ngIf="router.url === '/login' || router.url === '/recovery'" 
      [routerLink]=" '/registration' "
    >Зарегистрироваться</a>

    <a
      mat-raised-button
      *ngIf="router.url === '/registration'"
      [routerLink]=" '/login' "
    >Войти</a>
  </mat-toolbar-row>

</mat-toolbar>

<div class="content"> 
  <router-outlet></router-outlet>
</div>