<mat-card class="card">

  <mat-card-header class="card-header">
    <mat-card-title class="card-header__title">Начните бесплатно</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <form class="card-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="card-form__data">
        <input
          type="text"
          required
          matInput
          placeholder="Ваше имя"
          formControlName="name"
        >
        <mat-error *ngIf="form.get('name').hasError('required')">
          Имя не может быть <strong>пустым</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="card-form__data">
        <input
          type="email"
          required
          matInput
          placeholder="Ваш email"
          formControlName="email"
        >
        <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
          Введите корректный email
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('required')">
          Email не может быть <strong>пустым</strong>
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('forbiddenEmail')">
          Email уже <strong>занят</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="card-form__data">
        <input
          type="text"
          required
          matInput
          placeholder="Название страницы (латиницей)"
          formControlName="page"
        >
        <mat-error *ngIf="form.get('page').hasError('required')">
          Название страницы не может быть <strong>пустым</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="card-form__data">
        <input
          type="password"
          required
          matInput
          placeholder="Ваш пароль"
          formControlName="password"      
        >
        <mat-error *ngIf="form.get('password').hasError('minlength') && !form.get('password').hasError('required')">
          Пароль должен быть больше
          {{ form.get('password')['errors']['minlength']['requiredLength'] }}
          символов.
          Сейчас
          {{ form.get('password')['errors']['minlength']['actualLength'] }}
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('required')">
          Пароль не может быть <strong>пустым</strong>
        </mat-error>
      </mat-form-field>

      <div class="card-form__data">
        <mat-checkbox
          class="example-margin"
          formControlName="agree"
        >
          Согласен(а) создать страницу
        </mat-checkbox>
      </div>

      <mat-card-actions class="card-actions">
        <button
          class="card-actions__button"
          type="submit"
          color="primary"
          mat-raised-button
          [disabled]="form.invalid"
        >
          Создать страницу
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>

</mat-card>