@import 'src/styles/mixins';


.card {
  width: 100%;
  max-width: 400px;
  padding: 0;
  border-radius: 10px;
}

.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px 15px 80px 15px;
  background: linear-gradient(to top, rgba(7,70,130,0.89) 0%, rgba(25,133,224,0.89) 100%);

  &__title {
    @include font-primary(32px, #fff, 400, 42px);
    text-shadow: 0 2px 8px rgba(#000, 0.1);
  }

  &__subtitle {
    margin-top: 15px;
    @include font-primary(16px, #fff, 400, 24px);
    text-shadow: 0 2px 8px rgba(#000, 0.1);
  }
}


.content {
  padding: 15px;
  position: relative;
  top: -65px;
}

.profile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(#000, 0.1);
  padding: 15px;
}

.avatar {
  display: flex;
  align-items: center;

  &__header {
    width: 20%;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }

  &__content {
    margin-left: 16px;
  }

  &__title {
    @include font-primary(18px, #000, 500);
  }

  &__text {
    margin-top: 10px;
    @include font-primary(14px, #000, 400);
  }
}

.social {

  &__item {
    margin-top: 15px;
  }

  &__link {
    display: block;
    text-decoration: none;
    text-align: center;
    @include font-primary(16px, #fff, 500);
    padding: 10px 0;
    border-radius: 5px;
    background-color: #007aff;
    transition: all 0.3s;

    &:hover {
      transform: translate(0, -2px);
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}
