<mat-card class="card">

  <mat-card-header class="header">
    <mat-card-title>
      <h2 class="header__title ngmodel">Добро пожаловать</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="header__subtitle ngmodel">
        Выберите удобный для вас способ связи!        
      </p>
    </mat-card-subtitle>
  </mat-card-header>
 

  <mat-card-content class="content">

    <div class="profile">

      <div class="avatar">
        <img class="avatar__image" src="https://app.mssg.me/static/avatars/bear_profile.png" alt="My photo">
        <span class="avatar__text">makskondratenko</span>
      </div>

      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="#">makskondratenko</a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">makskondratenko</a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">makskondratenko</a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">makskondratenko</a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">makskondratenko</a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">makskondratenko</a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">makskondratenko</a>
        </li>
      </ul>

    </div>

  </mat-card-content>
  
</mat-card>