<mat-card class="card">

  <mat-card-header class="header" [ngStyle]="{'background': user.profile.design.background.type }">
    <mat-card-title>
      <h2 class="header__title" >{{ user.profile.interface.greeting }}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <p class="header__subtitle ngmodel">
        {{ user.profile.interface.description }}      
      </p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content">

    <div class="profile">

      <div class="avatar">
        <div class="avatar__header">
          <img class="avatar__image" src="https://app.mssg.me/static/avatars/bear_profile.png" alt="My photo">
        </div>
        <div class="avatar__content">
          <h2 class="avatar__title">{{ user.profile.interface.fullname }}</h2>
          <p class="avatar__text">{{ user.profile.interface.category }}</p>
        </div>
      </div>

      <ul class="social" >
        <li class="social__item" *ngFor="let messenger of user.profile.messengers">
          <a class="social__link" href="#">            
            {{ messenger.keeping }}
          </a>
        </li>
      </ul>

    </div>

  </mat-card-content>
  
</mat-card>