<mat-card class="example-card card">

  <mat-card-header class="card-header">
    <mat-card-title class="card-header__title">Забыли пароль?</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="alert {{message.type}}" *ngIf="message.text">
      {{ message.text }}
    </div>

    <form class="card-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="card-form__data">
        <input
          type="email"
          required
          matInput
          placeholder="Ваш email"
          formControlName="email"
        >
        <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
          Введите корректный email
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('required')">
          Email не может быть <strong>пустым</strong>
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('nonexistentEmail')">
          Email не <strong>существует</strong>
        </mat-error>
      </mat-form-field>

      <mat-card-actions class="card-actions">
        <button
          class="card-actions__button"
          type="submit"
          color="primary"
          mat-raised-button
          [disabled]="form.invalid"          
          >
            Восстановить пароль
          </button>
      </mat-card-actions>
    </form>
  </mat-card-content> 
</mat-card>