<mat-drawer-container class="main">
  <mat-drawer class="sidebar" mode="side" opened>
    <!-- <insta-sidebar></insta-sidebar> -->
    <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, labore ratione maiores quos voluptatem numquam quas porro. Animi modi sequi, ipsa laboriosam alias rem praesentium, culpa numquam, cupiditate dignissimos fugiat.Aperiam vitae consequatur necessitatibus, totam sequi optio delectus dolorem maiores ut ea incidunt natus numquam fugiat sapiente, nobis dolorum facilis quo suscipit ab omnis ipsam facere. A architecto ab nesciunt!</p> -->
    <router-outlet></router-outlet>
  </mat-drawer>
  <mat-drawer-content class="content">
    <!-- <insta-card></insta-card> -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea libero eum tempora quae, consequatur, corporis illo provident cumque totam odio, veniam ut dolorum amet exercitationem? Fuga aperiam illo aliquid itaque.</p>
  </mat-drawer-content>
</mat-drawer-container>

 