@import 'src/styles/mixins';

.interface {
  padding: 25px;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    padding: 0 0 15px 0;

    &__link {

    }

    &__title {
      @include font-primary(16px, #000, 500);
    }

    &__button {

    }
  }

  .form {
    margin-top: 25px;
    width: 100%;

    &__group {
      width: 100%;
    }
  }
}