<div class="interface">
  <div class="head">
    <a
      class="head__link"
      mat-flat-button
      color="warn"
      [routerLink]="['/profile']"
      (click)="cancelChanges()"
      >Отмена
    </a>
    <h2 class="head__title">Профиль</h2>
    <a
      class="head__link"
      mat-flat-button
      color="accent"
      [routerLink]="['/profile']"
      (click)="saveChanges()"
      >Сохранить
    </a>
  </div>

  <form class="form" (input)="getProfileText($event)">
    <mat-form-field class="form__group">
      <input
        class="form__input"
        matInput
        placeholder="Приветствие"
        [(ngModel)]="profileGreeting"
        name="profileGreeting"
      />
    </mat-form-field>

    <mat-form-field class="form__group">
      <textarea
        class="form__textarea"
        matInput
        placeholder="Описание"
        [(ngModel)]="profileDescription"
        name="profileDescription"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field class="form__group">
      <input
        class="form__input"
        matInput
        placeholder="Полное имя"
        [(ngModel)]="profileFullname"
        name="profileFullname"
      />
    </mat-form-field>

    <mat-form-field class="form__group">
      <input
        class="form__input"
        matInput
        placeholder="Категория"
        [(ngModel)]="profileCategory"
        name="profileCategory"
      />
    </mat-form-field>

    <mat-form-field class="form__group">
      <input
        class="form__input"
        matInput
        placeholder="Ваша ссылка"
        [(ngModel)]="profileUrl"
        name="profileUrl"
      />
    </mat-form-field>

    <!-- <div class="">
      <div class="">
        <span class="">insta.me/</span>
      </div>
      <mat-form-field class="form__group">
        <input matInput placeholder="Ваша ссылка" />
      </mat-form-field>
    </div> -->
  </form>
</div>
