.profile {
  padding: 25px;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    padding: 0 0 15px 0;

    &__link {

    }

    &__title {
      font-family: Roboto,"Helvetica Neue",sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    &__button {

    }
  }

  .form {
    margin-top: 25px;
    width: 100%;

    &__group {
      width: 100%;
    }
  }
}