/* You can add global styles to this file, and also import other style files */

@import '../node_modules/reset-css/sass/reset';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



//Start
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  max-width: 1230px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 15px; 
}
