<insta-header></insta-header>
<router-outlet></router-outlet>






<!-- <insta-sidebar *ngIf="router.url === '/system/profile'"></insta-sidebar> -->

<!-- <insta-sidebar></insta-sidebar> -->

<!--
<mat-drawer-container class="main">

  <mat-drawer class="sidebar" mode="side" opened>
    <insta-sidebar *ngIf="router.url === '/system'"></insta-sidebar>
    <router-outlet></router-outlet>
 
    <mat-tab-group dynamicHeight>
      <mat-tab label="Short tab">
        <div class="mat-elevation-z4">
          <insta-sidebar *ngIf="router.url === '/system'"></insta-sidebar>
        </div>
      </mat-tab>
      <mat-tab label="Short tab">
        <div class="mat-elevation-z4">
            <insta-profile-page></insta-profile-page>
        </div>
      </mat-tab>
    
      <mat-tab label="Short tab">
        <div class="mat-elevation-z4">
            <insta-profile-page></insta-profile-page>
        </div>
      </mat-tab>
    
      <mat-tab label="Short tab">
        <div class="mat-elevation-z4">
            <insta-profile-page></insta-profile-page>
        </div>
      </mat-tab>
    </mat-tab-group> 


  </mat-drawer>
  
  <mat-drawer-content class="content">
    <insta-card></insta-card>
  </mat-drawer-content>
  
</mat-drawer-container>
-->

